##  목표
- 리스트와 튜플에 대해 이해해보자
- 리스트 관련 함수 활용해보자

### 리스트란?
- list
- 파이썬의 자료 구조 형태중 하나
- 순서가 있는 수정가능한 객체의 집합: 수정,삭제,추가 가능
- 대괄호로 작성되어지며, 내부 요소는 콤마(,)로 구분

- 리스트의 기본 구조

In [1]:
# 빈 리스트
list1 = []

# 숫자형 요소값을 담은 리스트
list2 = [1,2,3]

#문자열 요소값을 담은 리스트
list3 = ['my','name']

#숫자형과 문자열을 같이 담고 있는 리스트
list4 = [1,'my','name']

# 숫자형과 리스트요소를 가진 리스트
list5 = [1,['my','name']]

In [2]:
# 리스트와 튜플은 자료를 변수 하나에 한개만 저장하는것이아니라
# 여러개를 동시에 저장할 수 있도록 하는 자료구조
# 중요한 포인트 ! 더 많은 데이터(리스트의 요소단위)를 저장하기 위함

### 리스트 인덱싱&슬라이싱
리스트에 여러 값을 저장하고 각 데이터값에 접근하는 방법

- 인덱싱(indexing): 무엇인가를 ‘가리킨다‘는 의미

- 슬라이싱(Slicing): 무엇인가를 ‘잘라낸다’는 의미

####  리스트 인덱싱
리스트[인덱스번호]

In [15]:
# 문자열 인덱싱과 마찬가지로 인덱스번호는 0부터 시작 ~ 

list1 = [2,5,7,9,10]
list1

# [] 안에 인덱스 번호 1개 입력
print('2라는 요소 값 접근: ',list1[0])
print('7이라는 요소값 접근: ',list1[2])
print('10이라는 요소값 접근: ',list1[4])
print('0번째와 4번째 요소값 더하기: ', list1[0]+list1[-1])

2라는 요소 값 접근:  2
7이라는 요소값 접근:  7
10이라는 요소값 접근:  10
0번째와 4번째 요소값 더하기:  12

#### 리스트 인덱싱 예제

In [16]:
list2 =[1,2,3,['a','b','c']]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [17]:
# ['a', 'b', 'c'] 데이터 접근
list2[3]

['a', 'b', 'c']

In [18]:
# 'b' 데이터 접근
list2[3][1]

'b'

#### 리스트[시작값:끝값]
start 인덱스부터 end 인덱스 바로 전까지 값 반환 (start <= x < end)  
시작값은 포함o, 끝값은 포함x

In [21]:
list3 = [0,1,2,3,4]
# 1,2 요소값에 접근
list3[1:3]

[1, 2]

In [22]:
# 0,1 요소값 접근
list3[0:2] # list3[:2]

[0, 1]

In [25]:
# 3,4 요소값에 접근
list3[3:5] #list3[:]

[3, 4]

- 리스트와 리스트를 더하면?

In [26]:
list4 = [1,2,3]
list5 = [3,4,5,6]
list4 + list5 # 결과는 뒤로 붙게 됨 , 숫자 연산이 안됨

[1, 2, 3, 3, 4, 5, 6]

### 리스트 관련함수
#### 리스트 값 추가: append(), insert()

\- append(): 리스트의 맨 뒤에 값을 추가  
\- insert(): 사용자가 지정한 위치에 값을 추가

- 리스트.append(값)

In [47]:
list_fs = ['사과','포도',['수박','멜론'],'복숭아','딸기','오렌지']
list_fs

['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']

- 리스트 append 실습예제  
리스트 list 에 담긴 ‘사과‘, ‘수박‘, ‘오렌지＇를 인덱싱하여 각각 변수에 저장하고, 
비어 있는 리스트 choice_list에 append함수를 이용하여 추가한 후 아래와 같이 출력하시오.

In [48]:
# choice_list 빈 리스트 선언
choice_list =[]
choice_list.append(list_fs[0])
choice_list.append(list_fs[-1])
choice_list.append(list_fs[2][0])
choice_list

['사과', '오렌지', '수박']

- 리스트.insert(인덱스위치,값)

In [29]:
list5 = [0,1,2,3,4]
list5.insert(1,5)

In [30]:
list5 # 1번째 인덱스 자리에 5라는 값 추가, 기존의 있던 데이터들 한칸씩 뒤로 밀려남

[0, 5, 1, 2, 3, 4]

- 리스트 insert 실습예제

정수 형태의 인덱스 값과 노래 제목,   
가수명도 각각 입력 받은 후 변수에 저장하고,  
insert함수를 이용하여 리스트 music_list에 새로운 값을 추가하시오.

In [45]:
music_list =[['Butter','방탄'],['헤픈 우연','헤이즈'],['라일락','아이유']]
music_list

[['Butter', '방탄'], ['헤픈 우연', '헤이즈'], ['라일락', '아이유']]

In [46]:
loc = int(input('인덱스위치입력 >> '))
song = input('노래제목입력 >> ')
singer = input('가수입력 >> ')

music_list.insert(loc,[song,singer])
print('music_list: ', music_list)

인덱스위치입력 >> 2
노래제목입력 >> 롤린
가수입력 >> 브레이브걸스
music_list:  [['Butter', '방탄'], ['헤픈 우연', '헤이즈'], ['롤린', '브레이브걸스'], ['라일락', '아이유']]

In [43]:
music_list

[['Butter', '방탄'], ['헤픈 우연', '헤이즈'], ['롤린', '브레이브걸스'], ['라일락', '아이유']]

#### 리스트 수정

In [57]:
list6 = [0,1,2,3,4]
list6

[0, 1, 2, 3, 4]

In [51]:
print('수정 전: ', list6[1])
list6[1] = 7
print('수정 후: ', list6[1])
print('리스트 전체: ', list6)

수정 전:  1
수정 후:  7
리스트 전체:  [0, 7, 2, 3, 4]

In [59]:
# 오류 발생 상황
list6[2:4] = 7
# can only assign an iterable
# 반복가능한 대상만 가능

TypeError: can only assign an iterable

In [64]:
list6 = [0,1,2,3,4]
print(list6)
list6[2:4] = [7]
print(list6)

[0, 1, 2, 3, 4]
[0, 1, 7, 4]

- 리스트 수정 예제

In [74]:
array = [1,2,3,4,5]
print(array)
# 리스트 array에 숫자 5를 7으로 바꾸시오.

array[-1] = 7
print(array)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 7]

In [75]:
#리스트 array에 숫자 2를  리스트[‘a’,’b’,’c’]로 바꾸시오.

array[1] = ['a','b','c']
print(array)

[1, ['a', 'b', 'c'], 3, 4, 7]

In [76]:
#리스트 array에 4,7를  ‘d’, ‘e’, ‘f’, ‘g’로 바꾸시오.
array[3:] = 'defg' # array[3:] = ['d','e'.'f''g']
array

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [72]:
#리스트 array에 1을 ‘h’, ‘i’, ‘j’ 로 바꾸시오
array[:0] = 'hij' #array[:0] = ['h','i','j']

In [73]:
array

['h', 'i', 'j', 1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

#### 리스트 삭제
del 키워드 이용  
리스트.remove(값)

In [78]:
list7 = [0,1,2,3,4,5]
# 1번째 인덱스 값 삭제
del list7[1]
print(list7)

[0, 2, 3, 4, 5]

In [79]:
list7 = [0,1,2,3,4,5]
# 1이라는 요소값 삭제 
list7.remove(1)
print(list7)

[0, 2, 3, 4, 5]

In [80]:
# 2번째 실행하면 오류나는 이유 -> 1이라는 값이 이미 없기 때문에 ! 
list7.remove(1)

ValueError: list.remove(x): x not in list

#### 리스트 정렬 
리스트.sort() 오름차순정렬

In [81]:
list8 = [9,77,13,51,100,3]
list8

[9, 77, 13, 51, 100, 3]

In [82]:
list8.sort()

In [83]:
list8

[3, 9, 13, 51, 77, 100]

리스트 역순으로 뒤집기  
리스트.reverse()

In [84]:
list9 = [9,77,13,51,100,3]
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

- 정렬 실습 예제  
list9 내용 내림차순 정렬

In [85]:
list9 = [9,77,13,51,100,3]
list9.sort()
list9.reverse()
list9

[100, 77, 51, 13, 9, 3]

#### 리스트 값 위치 반환 및 제거
list.index()  
list.pop()

In [92]:
list10 = ['a','b','c','d','e','f']
list10.index('c') # 'c' 가 있는 인덱스위치 반환

2

In [93]:
list10

['a', 'b', 'c', 'd', 'e', 'f']

In [95]:
list10.pop() # 맨 뒤에 값을 찾아 반환하며 삭제

'e'

In [96]:
list10

['a', 'b', 'c', 'd']

#### 리스트 길이 확인
len()

In [97]:
list11 = [0,1,2]
len(list11)

3

In [98]:
# 요소의 개수 ? 3
# 맨 마지막 인덱스 번호는 ? 2

### 튜플이란?
- 파이썬의 자료구조 형태중 하나
- 순서가 있는 집합으로 추가,수정,삭제 불가능
- 소괄호(())로 작성, 튜플 내부 요소는 콤마(,)로 구분

- 튜플 기본 구조  
a = ()  
b = (1,2,3)  
c = ('my','name')  
d = (1,2,'my','name')  
e = (1,2,('my','name))

#### 튜플 인덱싱
튜플[인덱스번호]

In [99]:
tp1 = (0,1,2,3,('a','b','c'),5)
tp1

(0, 1, 2, 3, ('a', 'b', 'c'), 5)

In [100]:
# 2번째 인덱스위치값에 접근
tp1[2]

2

In [101]:
# 4번째 인덱스위치 값에 접근
tp1[4]

('a', 'b', 'c')

#### 튜플 슬라이싱  
튜플[start 인덱스 : end 인덱스]  
start 인덱스부터 end 인덱스 바로 전까지 값 반환 (start <= x < end)

In [103]:
tp1

(0, 1, 2, 3, ('a', 'b', 'c'), 5)

In [102]:
# 1,2 요소값에 접근
tp1[1:3]

(1, 2)

In [106]:
#3부터 요소끝값까지 접근하여 확인하기
tp1[3:]

(3, ('a', 'b', 'c'), 5)

#### 튜플 길이 == 요소 개수 확인
len(튜플)

In [108]:
tp1

(0, 1, 2, 3, ('a', 'b', 'c'), 5)

In [109]:
len(tp1)

6

#### 튜플은 내부 변경 불가능

In [111]:
tp2 = ('a','b','c')
tp2[1] = 'B'
#'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

#### 해당 데이터의 포함 여부 확인
- 멤버 연산자 : 포함관계 불리언으로 출력  
in  
not in

In [118]:
str1 = '파이썬 최고'
'최고' in str1

True

In [119]:
'최고' not in str1

False

In [120]:
list1 =[77,88,38]
list1

[77, 88, 38]

In [122]:
100 not in list1

True

In [123]:
100 in list1

False

In [124]:
s ='Hi, My name is Mihee'
s

'Hi, My name is Mihee'

실습예제
1. 다음과 같이 문자열에 사용자가 입력한 글자가 몇 개 포함되어 있는지 출력하시오.

In [127]:
print('*'*35)
input_s = input('검색할 문자를 입력하세요 >> ')
if input_s in s:
    print(f'{input_s}는 문자열에 {s.count(input_s)}번 들어있습니다.')
else:
    print(f'{input_s}는 문자열에 들어있지 않습니다.')
print('*'*35)

***********************************
검색할 문자를 입력하세요 >> M
M는 문자열에 2번 들어있습니다.
***********************************

2. 다음과 같이 리스트에 사용자가 입력한 글자가 어디에 포함되어 있는지 출력하시오.

In [129]:
lst = ['딸기','바나나','수박','체리','포도']

In [132]:
print('*'*45)
input_s = input('검색할 문자를 입력하세요 >> ')
if input_s in lst:
    print(f'{input_s}는 리스트에 {lst.index(input_s)}번째 인덱스에 들어있습니다.')
else:
    print(f'{input_s}는 리스트에 들어있지 않습니다.')
print('*'*45)

*********************************************
검색할 문자를 입력하세요 >> 오렌지
오렌지는 리스트에 들어있지 않습니다.
*********************************************