### 문제4) 
다음 score_list에 들어있는 데이터를 이용해 아래와 같이 성적표를 만드는 프로그
램을 작성하시오. (단, 학생의 숫자가 늘어나도 동작할 수 있도록 고려하시오.)

- 파이썬 기초로 풀어보기

In [24]:
score_list = [["김미희",89,78,99],["서대희",67,88,77],["강예진",100,55,96],["손지영",75,100,60]]
print("="*49)
print("이름\tPython\tJava\tDB\t평균\t학점")
print("="*49)
# 학생별 평균 및 학점출력
total =0 ; grade = ''
for score in score_list:
    total = (score[1]+score[2]+score[3])//3 
    if total >= 90:
        grade = "A"
    elif total >= 80:
        grade = "B"
    elif total >= 70:
        grade = "C"
    elif total >= 60:
        grade = "D"
    else:
        grade = "F"
    print(f'{score[0]}\t{score[1]}\t{score[2]}\t{score[3]}\t{total}\t{grade}')
print("="*49)

# 과목별 평균 출력을 위해 총합담을 변수 선언 
# += 는 선언이 되어 있어야 누적이 가능함
p_sum = j_sum = d_sum  = 0
for score in score_list:
    p_sum += score[1] # python 과목 인덱스 1 , 과목별 순서는 변하지도 않고 늘어나지도 않음
    j_sum += score[2] # java 과목 인덱스 2
    d_sum += score[3] # db 과목 인덱스 3
    
print(f"평균\t{p_sum//len(score_list)}\t{j_sum//len(score_list)}\t{d_sum//len(score_list)}")

=================================================
이름	Python	Java	DB	평균	학점
=================================================
김미희	89	78	99	88	B
서대희	67	88	77	77	C
강예진	100	55	96	83	B
손지영	75	100	60	78	C
=================================================
평균	82	80	83

- pandas 로 풀어보기

In [44]:
import pandas as pd
score_list = [["김미희",89,78,99],["서대희",67,88,77],["강예진",100,55,96],["손지영",75,100,60]]

score_df = pd.DataFrame(score_list, columns = ['이름','Python','Java','DB'])
score_df.set_index('이름', inplace=True)
# 평균 컬럼 추가 
score_df['평균'] = score_df.sum(axis = 1)//3

# apply 함수 적용, 학점 계산 사용자 정의함수 생성
def grade_check(mean):
    if mean >=90:
        return 'A'
    elif mean >=80:
        return 'B'
    elif mean >= 70:
        return 'C'
    elif mean >= 60:
        return 'D'
    else:
        return 'F'
score_df['학점'] = score_df['평균'].apply(grade_check)
score_df

# 과목별 평균 구하기
score_df.loc['평균'] = cat_mean
score_df # 데이터 개수가 맞지 않아서 오류는 나지 않지만, nan 결측치로 들어감

     Python    Java    DB    평균   학점
이름
김미희   89.00   78.00  99.0  88.0    B
서대희   67.00   88.00  77.0  77.0    C
강예진  100.00   55.00  96.0  83.0    B
손지영   75.00  100.00  60.0  78.0    C
평균    82.75   80.25  83.0   NaN  NaN